@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --text-font: "DM Sans", sans-serif;
    --color-one: #EFEFEF;
    --color-two: #f7d9c4;
    --color-three: #ff8484;
    --color-four: #31363B;
    --color-border: #464646;
    --color-text: #232323;
    --color-text-2: #BBBBBB;
    --color-text-3: #777777;
}
* {
    box-sizing: border-box;
    font-family: var(--text-font);
}
a{
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}